<article class="stacks">
  <mat-card>
    <mat-card-header>
      <span>Essas são as tecnologias que mais uso no trabalho:</span>
    </mat-card-header>
    <mat-card-content>
      <div class="icons">
        <div class="html-css-js">
          <img src="assets/icons/css-html-js.jpeg" width="280" height="150">
        </div>
        <div class="node">
          <img src="assets/icons/node-js-icon.jpeg" width="100" height="100" alt="profile-photo">
        </div>
        <div class="angular">
          <img src="assets/icons/angular-icon-logo.png" alt="" width="100" height="100">
        </div>
        <div class="ts">
          <img src="assets/icons/typescript-icon-logo.png" width="100" height="100" alt="profile-photo">
        </div>
        <div class="graphql">
          <img src="assets/icons/graphQL-logo.svg.png" width="100" height="100" alt="profile-photo">
        </div>
        <div class="mongo">
          <img src="assets/icons/mongodb.svg" width="100" height="100" alt="profile-photo">
        </div>
        <div class="postgresql">
          <img src="assets/icons/postgresql-logo.webp" width="100" height="100" alt="profile-photo">
        </div>
        <div class="gcp">
          <img src="assets/icons/gcp-logo.png" width="120" height="100" alt="profile-photo">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</article>