<article class="contacts">
  <article class="projects">
    <article class="home">
      <mat-card>
        <mat-card-header>
          <span>Contatos:</span>
        </mat-card-header>
        <mat-card-content>
          <a href="https://www.linkedin.com/in/abner-oliveira-a9a050156/" target="_blank">
            https://www.linkedin.com/in/abner-oliveira-a9a050156/
          </a>
          <p>
            <a href="https://github.com/AbnerAOliveira">https://github.com/AbnerAOliveira</a>
          </p>
        </mat-card-content>
      </mat-card>
    </article>
  </article>
</article>