<article class="home">
  <mat-card>
    <mat-card-header>
      <img ngSrc="assets/img/perfil.jpeg" width="300" height="300" alt="profile-photo">
    </mat-card-header>
    <mat-card-content>
      <span>
        Tenho quase seis anos de experiência como Engenheiro de Software, comecei como estagiário de suporte de TI e em
        um
        ano comecei de fato a programar, resolver problemas e criar produtos;
        Trabalhei em tudo, desde a construção de pequenos sites informativos até softwares mais complexos, como adição
        de
        recursos de leitura facial ao aplicativo web do Santander ou refatoração dos sistemas utilizados pelos gestores
        deste mesmo banco.
        O meu maior projeto, ou melhor, o meu projeto de maior impacto foi um projeto para um banco chamado Santander.
        No
        Santander ele desenvolveu o front end da aplicação de biometria facial, foi realmente muito interessante e teve
        impacto direto em todos os seus usuários, assim como eu.
        Na Accenture, meu último projeto foi em uma startup de logística chamada TRATO, o Trato é uma plataforma de
        gestão
        da cadeia logística rodoviária que oferece soluções de integração e otimização para as diferentes entidades da
        cadeia: motoristas, transportadores e embarcadores. Fui responsável pelo front-end da aplicação web deles
      </span>
    </mat-card-content>
  </mat-card>
</article>