.container {
  height: 4em;

  mat-toolbar {
    background-color: white;
    height: 100%;

    span {
      font-size: 2em;
    }
  }
}

@media(max-width: 800px) {
  .container {
    mat-toolbar {
      span {
        font-size: 1.5em;
      }
    }
  }
}

@media(max-width:500px) {
  .container {
    mat-toolbar {
      span {
        font-size: 1em;
      }
    }
  }
}
